.headerImage {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("https://images.pexels.com/photos/60626/pexels-photo-60626.jpeg?cs=srgb&dl=macbook-pro-macbook-computer-programming-60626.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
}
.jumbotronImage {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("https://images.pexels.com/photos/1102797/pexels-photo-1102797.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    height: 33vh;
    color: white;
}

.leadDivStyling {
    background-color: #333940;
    width: 45em;
}

.jumbotron-heading {
    color: #FFFFFF;
    text-shadow: #474747 3px 5px 2px;
}

p.lead {
    color: #9A9DA0;
}

.jumbotron {
    border-radius: 0 !important;
}

.aboutMeStyling {
    background-color: blue;
}

.bodyStyle {
    background-color: #333940;
}

hr {
    background-color: #FFFFFF;
    opacity: 20%;
}

.container-styling {
    margin-top: 50px;
}